@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');


body{
    background-color: #f7f4f0;;
    margin: 100px 150px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.main{
    margin-top: 220px;
}

.error
{
   margin-top: 10px;
   color: red;
   font-size: 12px;
   font-family: 'Nanum Gothic', sans-serif;
   letter-spacing: 0px;
}

.info
{
   margin-top: 10px;
   font-size: 14px;
   font-family: 'Nanum Gothic', sans-serif;
   letter-spacing: 0px;
}


#title{
    width: 100%;
    font-size: 50px;
    letter-spacing: 8px;
    text-align: center;
}

table{
    width: 400px;
    border-collapse: collapse;
    border: none;
    margin: auto;
}

.box{
    font-size: 20px;
    border-bottom: 1px black solid;
    height: 60px;
    letter-spacing: 3px;
}

.property{
    width: 120px;
}

.tText{
    height: 40px;
    text-align: left;
    font-size: 11px;
}

.tText a{
    color: black;
}

.btn{
    text-align: right;
}

#btn{
    cursor: pointer;
    width: 100%;
    height: 32px;
    background-color: #f7f4f0;
    border: 1px black solid;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: black;
    color: white;
}

#btn:hover{
    background-color: white;
    color: black;
}


.form{
    width: 100%;
    border:none;
    background-color: #f7f4f0;
    height: 40px;
    font-size: 15px;
    letter-spacing: 1px;
}